@use "../abstract//variables.scss";

.form {
  &__group {
    // margin-top: 2.2rem;
  }
  &__label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }

  &__input {
    width: 100%;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 0.3rem;

    &:focus {
      border: 3px solid variables.$inputFocus;
      outline: none;
    }
  }
}
